In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import pickle
import re
# import unidecode

# Merchants

In [2]:
merchants = pd.read_csv('./merchants.csv')

In [3]:
merchants.service_group.value_counts()

fnb                               636
food                              629
cvs                               567
beverage                          564
other offline payment services    227
supermarket                       113
shopping                           37
other offlinepayment                1
Name: service_group, dtype: int64

In [4]:
merchants.loc[merchants['service_group'] == 'other offlinepayment', 'service_group'] = 'other'
merchants.loc[merchants['service_group'] == 'other offline payment services', 'service_group'] = 'other'

In [5]:
merchants['service_id'] = merchants['service_id'].astype(str)
merchants['store_id'] = merchants['store_id'].astype(str)
merchants['unique_id'] = merchants['service_id'] + '-' + merchants['store_id']

In [6]:
merchants.drop_duplicates(subset='unique_id', keep='last');

In [7]:
merchants.service_group.fillna('other', inplace=True);

In [8]:
merchants

,service_id,store_id,service_group,merchant_name,merchant_address,store_name,store_address,store_longitude,store_latitude,unique_id
0,1058241667815469540,249887925492461203,other,CÔNG TY CP TMDV TVTK THỜI TRANG VIỆT,"189A Hai Bà Trưng , P.6, Quận 3 TPHCM",Concept Nguyễn Trãi Cần Thơ,"41-41A-43 Nguyễn Trãi, Q. Ninh Kiều, Cần Thơ",105.785046,10.040508,1058241667815469540-249887925492461203
1,1058241667815469540,6272474026035536581,other,CÔNG TY CP TMDV TVTK THỜI TRANG VIỆT,"189A Hai Bà Trưng , P.6, Quận 3 TPHCM",Concept Hậu Giang,"Số 410 Hậu Giang, Phường 12, Quận 6, Tp. HCM",106.638935,10.749251,1058241667815469540-6272474026035536581
2,8073873840719601655,2217087971996193230,beverage,HỘ KINH DOANH - QUÁCH THỊ HƯƠNG DUYÊN,"444 Hoàng Văn Thụ, Phường 2, Quận Tân Bình, Th...",Sharetea Hoàng Văn Thụ,"444 Hoàng Văn Thụ, Phường 4, Quận Tân Bình, Th...",106.655742,10.795501,8073873840719601655-2217087971996193230
3,1058241667815469540,7296552596579579660,other,CÔNG TY CP TMDV TVTK THỜI TRANG VIỆT,"189A Hai Bà Trưng , P.6, Quận 3 TPHCM",Concept Cách Mạng tháng 8 HCM,"Số 484 - 486 Cách Mạng Tháng Tám, Phường 11, Q...",106.668518,10.784919,1058241667815469540-7296552596579579660
4,1058241667815469540,4707467693322385152,other,CÔNG TY CP TMDV TVTK THỜI TRANG VIỆT,"189A Hai Bà Trưng , P.6, Quận 3 TPHCM",Concept Vạnh Hạnh Mall,"TTTM,Số 11 Sư Vạn Hạnh, Đường 3/2, Phường 12, ...",106.669971,10.769976,1058241667815469540-4707467693322385152
...,...,...,...,...,...,...,...,...,...,...
2968,6808347026108568574,6484164205001681137,food,CÔNG TY TNHH DỊCH VỤ THỰC PHẨM VÀ GIẢI KHÁT VI...,"Lầu 5, tòa nhà Sài Gòn Royal, 91 Pasteur, P. B...",POPEYES DƯƠNG BÁ TRẠC,"222 - 228 Dương Bá Trạc, Phường 2, Quận 8, Th...",106.6891098,10.7462651,6808347026108568574-6484164205001681137
2969,6808347026108568574,1503822611323068711,food,CÔNG TY TNHH DỊCH VỤ THỰC PHẨM VÀ GIẢI KHÁT VI...,"Lầu 5, tòa nhà Sài Gòn Royal, 91 Pasteur, P. B...",POPEYES NGUYỄN BỈNH KHIÊM,"58/13 Nguyễn Bỉnh Khiêm, Phường Đa Kao, Quận ...",106.6992663,10.7927827,6808347026108568574-1503822611323068711
2970,6808347026108568574,7294991517476066382,food,CÔNG TY TNHH DỊCH VỤ THỰC PHẨM VÀ GIẢI KHÁT VI...,"Lầu 5, tòa nhà Sài Gòn Royal, 91 Pasteur, P. B...",POPEYES NGUYỄN THỊ THẬP,"332 Nguyễn Thị Thập, Phường Tân Quy, Quận 7, T...",106.7049147,10.739731,6808347026108568574-7294991517476066382
2971,6808347026108568574,6091305737323984244,food,CÔNG TY TNHH DỊCH VỤ THỰC PHẨM VÀ GIẢI KHÁT VI...,"Lầu 5, tòa nhà Sài Gòn Royal, 91 Pasteur, P. B...",POPEYES PHÚ MỸ HƯNG,"62 Nguyễn Đức Cảnh, Phường Tân Phong, Quận 7, ...",106.708509,10.726551,6808347026108568574-6091305737323984244
2972,6808347026108568574,4226336408497841643,food,CÔNG TY TNHH DỊCH VỤ THỰC PHẨM VÀ GIẢI KHÁT VI...,"Lầu 5, tòa nhà Sài Gòn Royal, 91 Pasteur, P. B...",POPEYES D2 BÌNH THẠNH,"67 - 69 D2, Phường 25, Quận Bình Thạnh, Thành ...",106.7237359,10.8466516,6808347026108568574-4226336408497841643

In [9]:
merchants['modified_service'] = merchants['service_id']

In [10]:
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('gogi'), 'modified_service'] = '4522620599497170471-Gogi'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('kichi'), 'modified_service'] = '4522620599497170471-Kichi'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('manwah'), 'modified_service'] = '4522620599497170471-Manwah'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('sumo'), 'modified_service'] = '4522620599497170471-Sumo'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('hutong'), 'modified_service'] = '4522620599497170471-Hutong'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('ashima'), 'modified_service'] = '4522620599497170471-Ashima'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('yutang'), 'modified_service'] = '4522620599497170471-Yutang'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('crystal'), 'modified_service'] = '4522620599497170471-Crystal'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('cowboy'), 'modified_service'] = '4522620599497170471-Cowboy'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('37'), 'modified_service'] = '4522620599497170471-37thStreet'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('osaka'), 'modified_service'] = '4522620599497170471-Osaka'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('isushi'), 'modified_service'] = '4522620599497170471-Isushi'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('k-pub'), 'modified_service'] = '4522620599497170471-KPub'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('kpub'), 'modified_service'] = '4522620599497170471-KPub'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('vuvuzela'), 'modified_service'] = '4522620599497170471-Vuvuzela'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('daruma'), 'modified_service'] = '4522620599497170471-Daruma'
merchants.loc[(merchants['service_id'] == '4522620599497170471') & merchants['store_name'].str.lower().str.contains('shogun'), 'modified_service'] = '4522620599497170471-Shogun'

# Transactions

In [11]:
transactions = pd.read_csv('./transactions.csv')

In [12]:
transactions['user_id'] = transactions['user_id'].astype(str)
transactions['service_id'] = transactions['service_id'].astype(str)
transactions['store_id'] = transactions['store_id'].astype(str)
transactions['unique_id'] = transactions['service_id'] + '-' + transactions['store_id']
# transactions = transactions[['user_id', 'unique_id', 'amount']]

In [13]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008720 entries, 0 to 1008719
Data columns (total 6 columns):
timestamp     1008720 non-null int64
user_id       1008720 non-null object
service_id    1008720 non-null object
store_id      1008720 non-null object
amount        1008720 non-null int64
unique_id     1008720 non-null object
dtypes: int64(2), object(4)
memory usage: 46.2+ MB

In [14]:
transactions['unique_id'] = transactions['service_id'] + '-' + transactions['store_id']
transactions = transactions.merge(merchants[['unique_id', 'modified_service']], how='left')
transactions.loc[transactions['modified_service'].isna(), 'modified_service'] = transactions.loc[transactions['modified_service'].isna(), 'service_id']
transactions['service_id'] = transactions['modified_service']
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1008720 entries, 0 to 1008719
Data columns (total 7 columns):
timestamp           1008720 non-null int64
user_id             1008720 non-null object
service_id          1008720 non-null object
store_id            1008720 non-null object
amount              1008720 non-null int64
unique_id           1008720 non-null object
modified_service    1008720 non-null object
dtypes: int64(2), object(5)
memory usage: 61.6+ MB

In [15]:
transactions2train = transactions.drop(columns = ['timestamp'])
df_count = transactions2train.groupby(['user_id', 'service_id', 'store_id', 'unique_id'], as_index=False).count()
df_mean = transactions2train.groupby(['user_id', 'service_id'], as_index=False).sum()
df_mean['visit_count'] = df_count['amount']
transactions2train = df_mean

In [16]:
transactions2train

                    user_id           service_id   amount  visit_count
0       1000121902738565702  6624136956482465650   385000            1
1       1000121902738565702  7241075282237721387    67000            1
2       1000121902738565702   922770840377832605   134000            1
3       1000125153834388186  4696475929912495191  1133000            1
4       1000125153834388186  7435641053063427914    75000            1
...                     ...                  ...      ...          ...
724949   999967723811113076  6683159578094575932   176000            1
724950   999983852027909885  1161222413519607568   164000            1
724951   999983852027909885  1519391066364067495   393000            1
724952   999983852027909885  7217455669218222351    46000            1
724953   999983852027909885  7435641053063427914   129000            2

[724954 rows x 4 columns]

In [17]:
df_total_sum = transactions.groupby('user_id', as_index=False).sum()[['user_id', 'amount']]
df_total_sum = df_total_sum.rename(columns={'amount':'total_amount'})
transactions2train = transactions2train.merge(df_total_sum, how='left')
transactions2train['favor'] = transactions2train['amount'] / transactions2train['total_amount']
transactions2train = transactions2train[~((transactions2train['favor'] == 1) & (transactions2train['visit_count'] == 1))]

In [18]:
transactions2train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 707380 entries, 0 to 724953
Data columns (total 6 columns):
user_id         707380 non-null object
service_id      707380 non-null object
amount          707380 non-null int64
visit_count     707380 non-null int64
total_amount    707380 non-null int64
favor           707380 non-null float64
dtypes: float64(1), int64(3), object(2)
memory usage: 37.8+ MB

In [19]:
df_total_sum = transactions2train.groupby('user_id', as_index=False).sum()[['user_id', 'visit_count']]
new_user = df_total_sum[df_total_sum['visit_count'] < 4]['user_id'].to_list()
transactions2train = transactions2train[~transactions2train['user_id'].isin(new_user)]
transactions2train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 647032 entries, 6 to 724953
Data columns (total 6 columns):
user_id         647032 non-null object
service_id      647032 non-null object
amount          647032 non-null int64
visit_count     647032 non-null int64
total_amount    647032 non-null int64
favor           647032 non-null float64
dtypes: float64(1), int64(3), object(2)
memory usage: 34.6+ MB

In [20]:
df_total_median = transactions2train.groupby('service_id', as_index=False).median()[['service_id', 'amount']]
df_total_median = df_total_median.rename(columns={'amount':'avr_amount'})
transactions2train = transactions2train.merge(df_total_median, how='left')

In [21]:
transactions2train.head()

,user_id,service_id,amount,visit_count,total_amount,favor,avr_amount
0,100016064118164634,1564697347935602136,170000,1,2845000,0.059754,198000.0
1,100016064118164634,1643362567822364399,1469000,1,2845000,0.516344,188000.0
2,100016064118164634,3891264094863370703,554000,1,2845000,0.194728,213000.0
3,100016064118164634,521630549682136336,238000,1,2845000,0.083656,203000.0
4,100016064118164634,6808347026108568574,24000,1,2845000,0.008436,168500.0

In [22]:
transactions2train['rating'] = 0
transactions2train.loc[transactions2train['visit_count'] > 2, 'rating'] = 1
# transactions2train.loc[transactions2train['favor'] > 0.12, 'rating'] = 1
transactions2train.loc[transactions2train['amount'] > (1.1*transactions2train['avr_amount']), 'rating'] = 1

In [23]:
transactions2train.rating.value_counts()

0    325537
1    321495
Name: rating, dtype: int64

In [24]:
# For transaction with 0 amount, use the visit_count (pay 1VND per visit)
# transactions2train.loc[transactions2train.amount == 0, 'amount'] = transactions2train.loc[transactions2train.amount == 0, 'visit_count']
print(len(transactions2train.index))
transactions2train = transactions2train[~(transactions2train['amount'] == 0)]
print(len(transactions2train.index))

647032
646945

In [25]:
# Remove CircleK, Ministop from training list
transactions2train = transactions2train[~(transactions2train['service_id'] == '7241075282237721387')] #CircleK HCM
transactions2train = transactions2train[~(transactions2train['service_id'] == '7435641053063427914')] #CircleK HN
transactions2train = transactions2train[~(transactions2train['service_id'] == '6683159578094575932')] #Ministop
transactions2train = transactions2train[~(transactions2train['service_id'] == '1560616255241742510')] #COOP Smile

In [26]:
merchants['service_id'].value_counts().index

Index(['7241075282237721387', '4522620599497170471', '7435641053063427914',
       '6683159578094575932', '754456615597202420', '1560616255241742510',
       '8556496424374803715', '8421950360944077064', '7341550893129842017',
       '3797980347767515401',
       ...
       '1551153095406971249', '9090494937141424170', '7260637975327411002',
       '1161222413519607568', '8091499565413936348', '7697129851354317938',
       '8852348163950164423', '1962645878451483174', '7608564882640589084',
       '1336715627616364946'],
      dtype='object', length=521)

In [27]:
merchants[merchants['service_id'] == '3797980347767515401']

,service_id,store_id,service_group,merchant_name,merchant_address,store_name,store_address,store_longitude,store_latitude,unique_id,modified_service
1185,3797980347767515401,7545571613182674920,beverage,Trung Nguyên Legend,"82-84 Bùi Thị Xuân, P. Bến Thành, Quận 1, Tp H...",HAN-03 Ngô Quyền,"03 Ngô Quyền, Phường Lý Thái Tổ, Quận Hoàn K...",105.856524,21.028872,3797980347767515401-7545571613182674920,3797980347767515401
1186,3797980347767515401,2440630623436602500,beverage,Trung Nguyên Legend,"82-84 Bùi Thị Xuân, P. Bến Thành, Quận 1, Tp H...",HCM-A43Trường Sơn Super Bowl,"TTTM Super Bowl, 43A Trường Sơn, Phường 4, Quậ...",106.664468,10.808755,3797980347767515401-2440630623436602500,3797980347767515401
1187,3797980347767515401,6904923281322080881,beverage,Trung Nguyên Legend,"82-84 Bùi Thị Xuân, P. Bến Thành, Quận 1, Tp H...",HCM-249 Hoàng Vặn Thụ,"249A Hoàng Văn Thụ, Phường 1, Quận Tân Bình, T...",106.665636,10.800275,3797980347767515401-6904923281322080881,3797980347767515401
1188,3797980347767515401,2383637357578839773,beverage,Trung Nguyên Legend,"82-84 Bùi Thị Xuân, P. Bến Thành, Quận 1, Tp H...",HCM-The Botanica Phổ Quang,"104 Phổ Quang, Phường 2, Quận Tân Bình, Thành ...",106.668670,10.808585,3797980347767515401-2383637357578839773,3797980347767515401
1189,3797980347767515401,5527989640073787344,beverage,Trung Nguyên Legend,"82-84 Bùi Thị Xuân, P. Bến Thành, Quận 1, Tp H...",Nhà sách PN Nguyễn Oanh,"03 Nguyễn Oanh, Phường 10, Quận Gò Vấp, Thành ...",106.676269,10.835753,3797980347767515401-5527989640073787344,3797980347767515401
...,...,...,...,...,...,...,...,...,...,...,...
1250,3797980347767515401,740624531884540961,beverage,Trung Nguyên Legend,"82-84 Bùi Thị Xuân, P. Bến Thành, Quận 1, Tp H...",Nhà sách PN Aeon mall BD,"Lô 19 tầng trệt, TT mua sắm Aeon BD Canar Đại ...",106.711333,10.930882,3797980347767515401-740624531884540961,3797980347767515401
1251,3797980347767515401,5555233042688006348,beverage,Trung Nguyên Legend,"82-84 Bùi Thị Xuân, P. Bến Thành, Quận 1, Tp H...",HCM-272 Xô Viết Nghệ Tĩnh,"272 Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Th...",106.711775,10.801938,3797980347767515401-5555233042688006348,3797980347767515401
1252,3797980347767515401,7156002124187807173,beverage,Trung Nguyên Legend,"82-84 Bùi Thị Xuân, P. Bến Thành, Quận 1, Tp H...",HCM - FSoft Khu CNC Q9,"Toà nhà Ftown Khu công nghệ cao, Phường Tân Ph...",106.797885,10.850987,3797980347767515401-7156002124187807173,3797980347767515401
1253,3797980347767515401,930781199008083665,beverage,Trung Nguyên Legend,"82-84 Bùi Thị Xuân, P. Bến Thành, Quận 1, Tp H...",KHA-148 Võ Trứ,"148 Võ Trứ, Phường Tân Lập, Thành phố Nha Tran...",109.192203,12.240503,3797980347767515401-930781199008083665,3797980347767515401
1254,3797980347767515401,3797560856528722052,beverage,Trung Nguyên Legend,"82-84 Bùi Thị Xuân, P. Bến Thành, Quận 1, Tp H...",KHA-48 Nguyễn Bỉnh Khiêm,48 Nguyễn Bỉnh Khiêm (Nhà nghỉ dưỡng 378 Bộ Cô...,109.196605,12.256678,3797980347767515401-3797560856528722052,3797980347767515401

## Encoding service id and user id

In [28]:
merchants_service_cat = merchants[['service_id', 'service_group']].drop_duplicates(subset=['service_id'])
transactions2train = transactions2train.merge(merchants_service_cat, how='left')
transactions2train.fillna('other', inplace=True)

In [29]:
# create map to convert from code to id and vice versal
usercode2id = transactions2train['user_id'].astype('category')
usercode2id = dict(enumerate(usercode2id.cat.categories))
servicecode2id = transactions2train['service_id'].astype('category')
servicecode2id = dict(enumerate(servicecode2id.cat.categories))
userid2code = dict(map(reversed, usercode2id.items()))
serviceid2code = dict(map(reversed, servicecode2id.items()))

# create code columns
transactions2train['user_code'] = transactions2train['user_id'].astype('category').cat.codes
transactions2train['service_code'] = transactions2train['service_id'].astype('category').cat.codes

# save file to use later
with open('./data/usercode2id.dict', 'wb') as usercode2idfile:
    pickle.dump(usercode2id, usercode2idfile)
with open('./data/servicecode2id.dict', 'wb') as servicecode2idfile:
    pickle.dump(servicecode2id, servicecode2idfile)
with open('./data/userid2code.dict', 'wb') as userid2codefile:
    pickle.dump(userid2code, userid2codefile)
with open('./data/serviceid2code.dict', 'wb') as serviceid2codefile:
    pickle.dump(serviceid2code, serviceid2codefile)

## Save csv

In [30]:
transactions2train.to_csv('./data/transactions2train.csv')

In [31]:
merchants.to_csv('./data/modified_merchants.csv')

# Recheck data

In [38]:
merchants.service_id.unique();

In [39]:
transactions2train.service_id.unique();

In [43]:
notTrainList = list(set(merchants.service_id.unique()) - set(transactions2train.service_id.unique()))

In [46]:
with open('./data/nottrain.dict', 'wb') as file:
    pickle.dump(notTrainList, file)